<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              
          </div>
        </div>
      </nav>
 
<% if (user)  { %> 
      <h1>Edit User</h1>

      <div class="container">
        <form action="/update" method="POST">
            
            <input hidden id="id" name="id" value="<%= user.id %>" >

            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" tabindex="1" autofocus>              
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" tabindex="2">
            </div>
            <div class="mb-3">
                <select id="rol" name="rol" class="form-select" tabindex="3">
                    <option <%= user.rol=='Admin' ? 'selected' : '' %> value="Admin">Admin</option>
                    <option <%= user.rol=='Suscriptor' ? 'selected' : '' %> value="Suscriptor">Suscriptor</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary" tabindex="4">Enviar</button>
            <a href="/" class="btn btn-secondary">Cancel</a>
          </form>            
          
      </div>
<% } %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>