<%- include ("template/header") %>
<%- include ("template/navbar") %>
<%- include ("template/aside") %>  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
            <% if (user)  { %> 
              <h1>Edit User</h1>
        
              <div class="container">
                <form action="/update" method="POST">
                    
                    <input hidden id="id" name="id" value="<%= user.id %>" >
        
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" tabindex="1" autofocus>              
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" tabindex="2">
                    </div>
                    <div class="mb-3">
                        <select id="rol" name="rol" class="form-select" tabindex="3">
                            <option <%= user.rol=='Admin' ? 'selected' : '' %> value="Admin">Admin</option>
                            <option <%= user.rol=='Suscriptor' ? 'selected' : '' %> value="Suscriptor">Suscriptor</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" tabindex="4">Enviar</button>
                    <a href="/" class="btn btn-secondary">Cancel</a>
                  </form>            
                  
              </div>
            <% } %>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include ("template/footer") %>  