<%- include ("template/header") %>
<%- include ("template/navbar") %>
<%- include ("template/aside"), { userName: userName, image: image } %>  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include ('template/breadcrumb', {module: 'Dashboard'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">                        
            <div class="card">
                <div class="card-header">
                  Bienvenido <%= userName %>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Clientes</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nesciunt repellendus, aliquid dolores porro iure consectetur quae eaque! Ratione repellendus quisquam saepe voluptatem. Consectetur, eaque eveniet? Ut laboriosam repudiandae in.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include ("template/footer") %>  