<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="../assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Vinicio Sarango">
    <meta name="generator" content="Vinicio 1.0.0">
    <title>Login Sistema</title>
   
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>
  
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    
   
<main class="form-signin text-center shadow-lg p-3 mb-5">
  <form id="formLogin" action="/login" method="POST">
    <img class="mb-4" src="img/logo.png" alt="logo" width="50%" height="50%">
    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="email" autofocus>
      <label for="email">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
      <label for="pass">Password</label>
    </div>    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>    
  </form>
  <br>
  <a href="/register" type="button" class="w-100 btn btn-lg btn-bd-primary">Sing in</a>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
<% if(alert) { %>
  <script>
    Swal.fire({
      title: '<%= alertTitle %>',
      text:'<%= alertMessage %>',
      icon:'<%= alertIcon %>',
      showConfirmButton: <%= showConfirmButton %>,
      timer: <%= timer %>
    }).then(()=>{
      window.location = '/<%= ruta %>'
    })
  </script>
<% } %>

    </body>
</html>
